<link rel = "stylesheet" href="/css/home.css">
<div id = "container">

    <h3>Sign In</h3>

    <form id = "form" action="/sign_in_post" method = "post">
    
    
        <div id = "email_div">
        <label for = "email" >Email:</label>
        <input type = "email" placeholder="Enter your email" id = "email" class = "signIn" name = "email" required> 
        </div>
        <div id = "password_div">
        <label for = "password">Password:</label>
        <input type = "password" id = "password" name = "password" class="signIn" required>
        </div>
        <div id = "submit_div">
        <input type = "submit" value = "SignIn">
        </div>
    
    
    </form>

<p id = "new_user">-------------------New User?-------------------</p>
<div id = "sign_up">
    <a href="sign_up"><button class = "create_btn">Create your Account</button></a>
</div>
    
    </div>